<%= form_for [@user, @image] do |f| %>

  <p>
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </p><br>
  <p>
    <%= f.file_field :picture, :id => 'pictureInput', :class => 'btn btn-info' %>
    <div id="target">
    </div>
  </p>
  <p>
    <%= f.submit "Upload Photo", :class => 'btn btn-success' %>
  </p>
<% end %>
